.marvel {
  background-color: blue;
}

.dc {
  background-color: orange;
}

img {
  height: 300px;
  width: 300px;
}

div {
  height: 40%;
  width: 50%;
  color: white;
  padding-top: 5px;
  padding-left: 10px;
  border: 1px solid black;


}

body {
  font-family: 'Raleway', sans-serif;


}

.newsuperhero {
  color: black;
  height: 60%;
  width: 50%;
  padding-top: 20px;
  padding: 10px;
padding-bottom: 15px;
border: white;
}

.addsuperherobutton {
  margin-left: 30%;
}
